<!doctype html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/all.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body class="wrapper">
    <div class="container">
    <main>
            <% if (title) { %>
                <h1><%= title %></h1>
            <% } %>
            <hr />
    <nav class="align-center">
        <ul class="flat">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/posts">Posts</a>
            </li>
            <li>
                <a href="/quotes">Quotes</a>
            </li>
            <li>
                <a href="https://github.com/nullenemy">Github</a>
            </li>
        </ul>
    </nav>
    <hr />